@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.canvasContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#graph{
    border: 1px solid #121212;
}

nav{
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
    margin-left: 25px;
}

label{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
}

span{
    font-family: "Inter";
    font-size: 14px;
}

label span{
    user-select: none
}